/*font-family: 'Quicksand', sans-serif;
font-family: 'Slabo 27px', serif;*/


* {
	color: white;
}


body {
	background-image: url();
	font-family: 'Slabo 27px', serif;
	margin: 20px;
	background-color: lavender;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 40px;
	margin: 50px;
	padding: 20px;
	background-color: purple;
	width: 450px;

}


img {
	width: 100px;
	height: 100px;
	margin: 10px;
	border: 2px solid lightblue;
}

#title {
	text-align: center;
	}


.directions {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	margin: 50px;
	padding: 20px;
	background-color: lightblue;
	width: 450px;
	color:white;
}

#randomNumber {
	background-color: pink;
	margin: 10px 10px 50px 50px;
	padding: 20px;
	width: 200px;
	float:left;

}

#winLoss {
	background-color: orange;
	margin: 10px 50px 50px 0px;
	padding: 20px;
	width: 100px;
	float:left;
}

#crystals {
	clear: both;
	margin: 30px;
	padding: 20px;

}

.btn {
	margin: 0px;
	padding: 0px;
}


.score {
	background-color: lavender;
	width: 300px;
	margin: 50px;
	
}

#total {
	background-color: lightgreen;
	margin: 10px;
	padding: 10px;
	font-size: 24px;
}

#totalScore {
	background-color: grey;
	margin: 10px;
	padding: 20px;
	height: 50px;
	font-size: 50px;
	text-align: center;
}

